@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* custom */
/* 폰트 */
@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("/fonts/NotoSansKR-Regular.ttf");
  font-weight: normal;
}
html {
  font-size: clamp(14px, 4vw, 18px);
  font-family: "NotoSansKR-Regular", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
/* 기본 스크롤바 크기 */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* 스크롤바 배경 */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1px;
}

/* 스크롤바 핸들(사용자가 잡는 부분) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1px;
  border: 2px solid #f1f1f1;
}

/* 스크롤바 핸들이 hover 될 때 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
